

<div class="jumbotron">
<!--
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
-->
    <div class="container">
        <h1 class="titulos">Titulo</h1>
        <h2 class="titulos">Sub Titulo</h2>

        <a href="http://en1mes.com" class="btn btn-primary">
            <span class="glyphicon glyphicon-fire" style="color:orange"> </span>
            En1Mes
            <!--<span class="glyphicon glyphicon-fire"></span>
            open-iconic/svg/fire.svg
            -->
        </a>

        <a href="/icon/beaker" class="js-zc-conditional" data-clipboard-text="">
            <svg height="32" class="octicon octicon-beaker" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M14.38 14.59L11 7V3h1V2H3v1h1v4L.63 14.59A1 1 0 0 0 1.54 16h11.94c.72 0 1.2-.75.91-1.41h-.01zM3.75 10L5 7V3h5v4l1.25 3h-7.5zM8 8h1v1H8V8zM7 7H6V6h1v1zm0-3h1v1H7V4zm0-3H6V0h1v1z"></path></svg>
        </a>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="page-header">
                <h2>Example for Page-Header <small>SubText for Header</small></h2>
                <span class="label label-default">New</span>
            </div>
            

            <h1 id="titulo1">Titulo</h1>
            <a href="http://en1mes.com" target='_blank'>En1Mes otra pagina</a>

            <p class="titulos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nobis velit nostrum doloribus recusandae unde saepe iusto corporis earum modi cupiditate vero quod, distinctio quos. Corrupti eum vel veniam aperiam.</p>
                
        </div>

        <div class="col-md-4">

            <div class="page-header">
                <h2>Example for Page-Header</h2>
            </div>
            <!--<h2>SubTitulo</h2>-->

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas magnam suscipit a ipsa at sed accusamus veniam ducimus eius iure hic sapiente, ullam, ad, incidunt repellat amet. Deleniti, pariatur reiciendis?</p>
                
        </div>

        <div class="col-md-4">
            <div class="page-header">
                <h2>Example for Page-Header</h2>
            </div>
            <!--<h3>Sub del SubTitulo</h3>-->

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, beatae?</p>
            
            <h6>Sub...Sub...SubTitulo</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, beatae?</p>
            
            
            <img src="https://en1mes.com/assets/logo-5d8021b65a5944316da34b544b012157.png" alt="logo">
            <hr>
            <br>
            
            <!--
            <h1 style="color:red; color:blue; font-size:100px; font-family:helvetica; 
            border:solid 1px red; background-color:yellow; padding:0 20px 0 20px"> Título </h1>
            -->
            
            <hr>
            
            <p>Lista Desordenada</p>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            
            <p>Lista Ordenada</p>
            <ol>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ol>
            
            <hr>
            
            <a href="http://en1mes.com">
                <img src="https://en1mes.com/assets/logo-5d8021b65a5944316da34b544b012157.png" alt="logo en 1 mes">
            </a>
            
            <hr>

            <!-- Para dejar una imagen responsiva dentro de una columna
            <img src="https://cdn.pixabay.com/photo/2016/07/12/18/54/lily-1512813__340.jpg" alt="Flor" style="width:600px"> 
            -->
            <img src="https://cdn.pixabay.com/photo/2016/07/12/18/54/lily-1512813__340.jpg" alt="Flor" style="width:500px" class="img-responsive">
                
        </div>

    </div>
            
</div>



